doctype html
html(lang="en")
  head
    title A single div
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css')
    link(rel='stylesheet' href='main.css')
  body
    div#badge.entry
      div
